{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    [ "babel-plugin-webpack-alias", { "config": "src/internals/webpack/webpack.config.js" } ],
    [ "@babel/transform-runtime", { "corejs": 3 } ]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "debug": false,
				"modules": false,
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/preset-react"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "debug": false,
            "modules": false,
            "useBuiltIns": "usage",
            "corejs": 3,
            "targets": {
							"node": "current"
						}
          }
        ],
        "@babel/preset-react"
      ],
      "plugins": [
        "transform-es2015-modules-commonjs",
        "dynamic-import-node",
        [ "babel-plugin-webpack-alias", { "config": "src/internals/webpack/webpack.config.test.js" } ]
      ]
    }
  }
}
