on: [push]

jobs:
  prod_build_job:
    runs-on: ubuntu-latest
    name: A job to build packages for prod repo
    steps:
    - name: Log Step
      id: greet
      uses: napagroup/grape-ui-react/.github/actions/log-github@devops/41
      with:
        who-to-greet: 'User'
    # Use the output from the `greet` step
    - name: Time of log
      run: echo "The time was ${{ steps.greet.outputs.time }}"
    - name: Checkout repo
      uses: actions/checkout@v2
    - name: Setup Node.js environment
      uses: actions/setup-node@v1
      with:
        node-version: 12

